.main-container {
  @include display-flex();
  flex-direction: column;
}

.section {
  padding-bottom: 5rem;
  h3 {
    font-family: $mplus;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 2em;
    color: $secondary;
    text-transform: uppercase;
  }
}

.about-section {
  p {
    margin: 2.2rem;
  }
}

.skills-section {
  @include box-shadow();
  @include display-flex();
  flex-direction: column;
  border-radius: 10px;
}

.skills-container { 
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  

  li {
    text-align: center;
    flex: 0 0 33%;
    padding: 0.7rem 1rem;
  }

  i {
    font-size: 1.5em;
    padding: 00.5rem;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .fa-js {
    color: #f0db4f;
  }

  .fa-react {
    color: #61dbfb;
  }

  .fa-html5 {
    color: #e44d26;
  }

  .fa-css3-alt {
    color: #264de4;
  }

  .fa-node-js {
    color: #68a063;
  }

  .fa-sass {
    color: #cc6699;
  }

  .fa-database {
    color: #f6820d;
  }

  .fa-git-alt {
    color: #f34f29;
  }

  .fa-user-edit {
    color: #de0c4b;
  }
}

.projects-container {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 7rem;

}

.project{
  border-radius: 10px;
  margin: 1rem;
  height: 500px;
  width: 30%;
  @include box-shadow();
  @include display-flex();
  flex-direction: column;
  

  &:hover{
    cursor: pointer;
  }
  
  h4{
    color: $secondary;
    margin-top:1rem;
    font-size: 1.5em;
    font-family: $mplus;
  }
  img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;

  }

  p{
    padding: 1rem;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .link-container{
    @include display-flex();
    a{
      margin: 1rem;
      text-decoration: none;
      transition: 0.3s;
      color: #333;

      &:hover{
      color: $secondary;
      cursor: pointer;
      }
    }
  }

}

.footer {
  border-radius: 10px 10px 0px 0px;
  font-family: $mplus;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $font;
  background-color: $primary;

  h3 {
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.5em;
  }

  .fa-heart {
    color: $secondary;
  }
}

.links-container {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  li {
    padding: 0.5rem;
    margin: 0.7rem;
    font-size: 1.5em;
    color: $secondary;
    width: 40%;
  }

  a {
    text-decoration: none;
    color: $font;
    transition: 0.3s;

    &:hover {
      color: $secondary;
    }
  }
  i {
    margin-right: 1rem;
  }
}
