.main-container {
  @include display-flex();
  flex-direction: column;
  background-color: #23272a;
}

.section {
  font-family: $mplus;
  width: 100%;
  @include box-shadow();
  h3 {
    font-weight: 400;
    font-family: $mplus;
    text-align: center;
    font-size: 2em;
    color: $secondary;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.about-container {
  color: $font;
  margin-bottom: 10em;
  p {
    font-size: 1.5em;
    padding: 2em 7em 2em 7em;
  }
}

.skills-section {
  color: $font;
  @include display-flex();
  flex-direction: column;
}

.skills-container {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10em;

  li {
    text-align: center;
    flex: 0 0 33%;
    padding: 0.7rem 1rem;
  }

  i {
    font-size: 1.5em;
    padding: 00.5rem;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .fa-js {
    color: #f0db4f;
  }

  .fa-react {
    color: #61dbfb;
  }

  .fa-html5 {
    color: #e44d26;
  }

  .fa-css3-alt {
    color: #264de4;
  }

  .fa-node-js {
    color: #68a063;
  }

  .fa-sass {
    color: #cc6699;
  }

  .fa-database {
    color: #f6820d;
  }

  .fa-git-alt {
    color: #f34f29;
  }

  .fa-user-edit {
    color: #de0c4b;
  }
}

.experience-section {
  color: $font;
}

.experience {
  @include display-flex();
  margin-bottom: 9em;
  font-size: 1.5em;

  p {
    width: 50%;
    padding-right: 2em;
  }

  .experience-img {
    width: 50%;

    h4 {
      font-family: $mplus;
      font-size: 2em;
    }

    img {
      padding-left: 2em;
      width: 500px;
      height: 150px;
    }
  }
}

.projects-container {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 7em;
}

.project {
  text-align: center;
  @include box-shadow();
  border-radius: 10px;
  margin: 1rem;
  height: 500px;
  width: 30%;
  @include display-flex();
  flex-direction: column;
  background-color: $font;

  &:hover {
    cursor: pointer;
  }

  h4 {
    font-weight: 500;
    color: $secondary;
    margin-top: 1rem;
    font-size: 1.5em;
    font-family: $mplus;
  }
  img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  p {
    padding: 1rem;
    word-break: break-all;
  }

  .techs {
    font-weight: bold;
  }

  .link-container {
    @include display-flex();
    a {
      margin: 1rem;
      text-decoration: none;
      transition: 0.3s;
      color: #333;

      &:hover {
        color: $secondary;
        cursor: pointer;
      }
    }
  }
}
